<!--
    Title: index.ejs
    Author: David Rachwalik
    Date: 2022/01/16
    Description: WEB-340 site
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>WEB-340 site</title>
    <meta charset="UTF-8">
    <meta name="author" content="David Rachwalik" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="nofollow" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; object-src 'none';
        style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdnjs.cloudflare.com;
        font-src 'self' https://fonts.gstatic.com https://cdnjs.cloudflare.com;">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap">
    <style>
        * {
            font-family: 'Oswald', Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item nav-link active"><a href="/">Home</a></li>
            <li class="nav-item nav-link"><a href="/testview">TestView</a></li>
            <li class="nav-item nav-link">Contact Us</li>
        </ul>
    </nav>

    <div role="main" class="container">
        <br /><br />
        <h2>EJS Views Example</h2>
        <div class="row sm-12">
            <div class="alert alert-success" role="alert">
                <strong>Message: </strong>
                <span>
                    <%= message %>
                </span>
            </div>
        </div>
    </div>
</body>

</html>