//-
  Title: index.pug
  Author: David Rachwalik
  Date: 2022/02/06
  Description: Exercise 5.3 for WEB-340 site

doctype html
html(land='en')
  head
    title Pug Template Example
  body
    h2= message
