<!--
    Title: footer.ejs
    Author: David Rachwalik
    Date: 2022/02/13
    Description: WEB-340 ems site partial of footer
-->

<hr />
<footer class="border-top">
    <p>© David Rachwalik - 2022</p>
</footer>

<%- include('scripts') %>
</body>

</html>