<!--
    Title: navbar.ejs
    Author: David Rachwalik
    Date: 2022/02/13
    Description: WEB-340 ems site data entry page
-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="nav navbar-nav justifty-content-center">
        <li class="nav-item active">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">&#8226;</li>
        <li class="nav-item">
            <a href="/list" class="nav-link">Tabular View</a>
        </li>
        <li class="nav-item">&#8226;</li>
        <li class="nav-item">
            <a href="/new" class="nav-link">Data Entry</a>
        </li>
        <li class="nav-item">&#8226;</li>
        <li class="nav-item">
            <a href="/view" class="nav-link">Employee Details</a>
        </li>
    </ul>
</nav>