<!--
    Title: footer.ejs
    Author: David Rachwalik
    Date: 2022/02/06
    Description: WEB-340 ems site partial of footer
-->

<hr />
<footer>
    <p>© Company 2017</p>
</footer>

<%- include('scripts') %>
</body>

</html>