<!--
    Title: index.ejs
    Author: David Rachwalik
    Date: 2022/02/06
    Description: WEB-340 ems site landing page
-->

<%- include('header') %>

<div role="main" class="container">
    <br /><br />

    <h2>Welcome to the EMS page!</h2>
</div>

<%- include('footer') %>