<!--
    Title: index.ejs
    Author: David Rachwalik
    Date: 2022/02/13
    Description: WEB-340 ems site landing page
-->

<%- include('shared/header') %>

<%- include('shared/navbar') %>

<div role="main" class="container">
    <br /><br />

    <h2>Welcome to the EMS page!</h2>
</div>

<%- include('shared/footer') %>