<!--
    Title: list.ejs
    Author: David Rachwalik
    Date: 2022/02/13
    Description: WEB-340 ems site tabular view of employee records
-->

<%- include('shared/header') %>

<%- include('shared/navbar') %>

<div role="main" class="container">
    <br /><br />

    <h2>Welcome to the tabular view of employee records!</h2>
</div>

<%- include('shared/footer') %>