<!--
    Title: navbar.ejs
    Author: David Rachwalik
    Date: 2022/02/06
    Description: WEB-340 ems site data entry page
-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li href="#" class="nav-item nav-link active">
            Home
        </li>
        <li href="#" class="nav-item nav-link">
            About
        </li>
        <li href="#" class="nav-item nav-link">
            Contact Us
        </li>
    </ul>
</nav>