<!--
    Title: view.ejs
    Author: David Rachwalik
    Date: 2022/02/13
    Description: WEB-340 ems site read-only page with the selected employee’s details
-->

<%- include('shared/header') %>

<%- include('shared/navbar') %>

<div role="main" class="container">
    <br /><br />

    <h2>Welcome to the employee details!</h2>
    <p>This page contains details on the selected employee.</p>
</div>

<%- include('shared/footer') %>